body {
    font-family: "Calibri";
    font-size: 1.6em;
    background-color: lightyellow;
}

h1 {
    padding: 10px;
    font-size: 2em;
}

h2 {
    text-align: center;
}

input {
    margin-top: 0.2em;
}

.btn {
    margin-top: 0.2em;
    font-size: 0.8em;
}

.leftMenuHover a:hover::before {
    content:  "| ";
    font-weight: bold;
}

.rightMenuHover a:hover::after {
    content:  " |";
    font-weight: bold;
}

tableMenu {
    float: left;
    width: 150px;
    background-color: lightslategray;
    text-align: right;
    alignment: right;
}

.menu {
    float: left;
    text-align: right;
}

.lista a {
    color: black;
    padding: 5px;
    padding-top: 2px;
    text-decoration: none;
}

.textHref {
    font-weight: bold;
}

.bordered {
    border: solid 1px black;
}

.verticalLineRight {
    border-right: 1px solid #000099;
    padding-right: 10px;
}

.verticalLineLeft {
    border-left: 1px solid #000099;
    padding-left: 10px;
}

.horizontalLine {
    color: #000099;
}

.content {

}