body {
    font-family: "Calibri";
    font-size: 1.6em;
    background-color: lightyellow;
    /*background-color: #DAFFFF;*/
}

h1 {
    font-family: sans-serif;
    padding: 10px;
    font-size: 2em;
}

h2 {
    text-align: center;
}

input {
    margin-top: 0.2em;
}

label {
    font-weight: normal;
}

.logo a:hover {
    background-image: linear-gradient(to top,
    #DAFFFF,
    lightyellow);
}

.backgroundColor {
    /*background-color: lightyellow;*/
    background-color: white;
}

.btn {
    margin-top: 0.2em;
    font-size: 0.8em;
}

.username {
    font-weight: bold;
}

.logout input[type="submit"] {
    /*background:none!important;*/
    background: transparent;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}

.lista a {
    color: black;
    padding: 5px;
    padding-top: 2px;
    text-decoration: none;
}

.backgroundRight a:hover::after {
    color: #00cc00;
    background-color: #00cc00;
}

.leftMenuHover {
    background-color: transparent;
    /*transition: all .25s ease-in;*/
}

.leftMenuHover:hover {
    background-image: linear-gradient(to right,
    transparent,
    rgba(0, 0, 150, 0.5));

    /*-webkit-transition: all 1s ease-out;*/
    /*-moz-transition: all 1s ease-out;*/
    /*-o-transition: all 1s ease-out;*/
    /*transition: all 1s ease-out;*/
}

.rightMenuHover {
    background-color: transparent;
    transition: all .25s ease-in;
}

.rightMenuHover a:hover::after .logout {
    background-image: linear-gradient(to left,
    transparent,
    rgba(0, 0, 150, 0.5));
}

.tableMenu {
    float: left;
    width: 150px;
    /*background-color: lightslategray;*/
    text-align: right;
    alignment: right;
}

.menu {
    float: left;
    text-align: right;
}

.textHref {
    font-weight: bold;
}

.bordered {
    border: solid 1px black;
}

.verticalLineRight {
    border-right: 1px solid #000099;
    padding-right: 10px;
}

.verticalLineLeft {
    border-left: 1px solid #000099;
    padding-left: 10px;
}

.horizontalLine {
    border-bottom: 1px solid #000099;
}

.wrongInput {
    color: #FF2200;
    margin-left: 0.25em;
}

.save {
    animation: color_change 5s;
    -webkit-animation: color_change 5s;
    color: transparent;
}

@-webkit-keyframes color_change {
    from { color: #00cc00 }
    to { color: transparent }
}

@keyframes color_change {
    from { color: #00cc00}
    to { color: transparent}
}